.footer_container {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  background-image: url('/BG-footer.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  width: 200px;
  height: auto;
}

.add_new_button {
  width: 40px;
  height: 40px;
  background-color: #111;
  border:none;
  border-radius: 40px;
  transition: width 0.3s;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-left: 15px;
}

.add_new_button_icon {
  top: 7px;
  right:7.5px;
  z-index: 4;
  position: absolute;
  color: #fff;
  transition: transform 0.5s;
  width: 25px;
  height: 25px;
}

.add_new_button_icon img {
  height: 100%;
  position: relative;
}
.add_new_button:hover {
  width: 110px;
}

.add_new_button:hover .add_new_button_icon{
  transform: rotate(270deg);
}

.add_new_button_label {
  width: 80px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 18px;
  text-align: center;
  font-family: 'raleway';
  font-weight: 400;
  /* position: relative; */
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  opacity: 0;
}

.add_new_button:hover .add_new_button_label {
  transition-delay: 0.1s;
  visibility: visible;
  opacity: 1;
  color: #fff;
}

.addevent_popup_container {
  width: 500px;
  height: 500px;
  background-color: #ffffff38;
  /* border: #111 solid 1px; */
  border-radius: 10px;
  padding: 40px 30px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.addevent_popup_blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  font-family: 'raleway';
  background-image: url("/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.form_conainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form_conainer input {
  background-color: #0000002b;
  border: none;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 5px;
}

.form_conainer textarea {
  background-color:#0000002b;
  border: none;
  border-radius: 5px;
  height: 80px;
}

.regular_btn {
  z-index: 2;
  background: none;
  border: #111 solid 1px;
  border-radius: 15px;
  font-family: 'Raleway';
  color: #111;
  font-size: 20px;
  font-weight: 200;
  transition: 0.75s ease-in-out;
  width: 120px;
  height: 35px;
  text-align: center;
  align-self: center;
  margin-top: 15px;
}

.regular_btn:hover {
  color: #fff;
  background-color: #111;
}

.detail_banner_container{
 display: flex;
 width: 100%;
 height: auto;
 position: relative;
 margin-top: 20px;
}

.detail_banner_img {
  width:100vw;
  height: 350px;
  position: absolute;
  left: 0;
}

.detail_banner_title {
  position: absolute;
  left: 30px;
  z-index: 8;
  font-family: 'raleway';
  font-size: 36px;
  font-weight: 300;
  color: #fff;
}

.detail_banner_overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 350px;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255,255, 0));
}

.detail_info_container {
  margin: 350px 20rem 100px 20rem;
  display: flex;
  flex-direction: column;
  font-family: 'raleway';
  font-size: 20px;
  font-weight: 300;
}

.detail_info_container_row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.detail_info_icon {
  width:40px;
  height: auto;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.profile_triangle {
  width:15px;
  height: 12px;
  margin-left: 5px;
}

.profile_container ul {
  display: none;
  background-color: #fff;
}

.profile_container ul.show {
  display: block;
  position: absolute;
  right:50px;
  z-index: 99;
  background-color: #fff;
  border: #9f9f9f 1px solid;
  border-radius: 10px;
  margin-top: 10px;
}

.profile_container li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 300;
  width: 200px;
  padding: 10px 15px;
}

.profilePage_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  font-family: 'raleway';
  font-size: 20px;
  font-weight: 300;
}

.profilePage_img{
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin-top: 10vh;
  box-shadow: -8px -8px 24px 0 #ffffff
  8px 8px 24px 0 #AEAEC0 40%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.profile_button:hover {
background-color: #e2e2e2;
}

.newComment_cont {
  display: flex;
  flex-direction: column;
  width:100%;
  font-family: 'raleway';
  font-size: 20px;
  font-weight: 300;
}

.newComment_cont textarea {
  font-family: 'raleway';
  padding: 5px 5px;
  font-size: 18px;
  border: 0.75px solid #9f9f9f;
  border-radius: 5px;
}

.newComment_cont textarea::placeholder {
  font-family: 'raleway';
  font-size: 18px;
  padding: 5px 5px;
}
.comment_btn {
  border: none;
  background: none;
  font-family: 'raleway';
  font-size: 18px;
  font-weight: 300;
  align-self: flex-end;
  text-align: right;
  margin-bottom: 5px;
}

.comment_container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.commentList_cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
}

.commentList_cont li{
list-style: none;
display: flex;
margin: 5px 0;
}

.commentList_cont img{
  width:60px;
  height: 60px;
  border-radius: 60px;
}

.profile_divider {
  border-top: 0.75px solid #9f9f9f;
  margin: 0px 0 10px 0;
  width: 100%;
  height: 2px;
}

.commentList_inner{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  border-radius: 15px;
  margin-left: 15px;
  padding: 10px;
  }

  .commentList_username {
    font-weight: 600;
    font-size: 18px;
  }
  .commentList_email {
    color: #717171;
  }

  .commentList_content{
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;

  }
  
