.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 8rem;
  min-height: 100vh;
  color: #111;
  font-family: 'Raleway';
  background-color:white;
}
.main h1 {
  font-family: 'raleway';
  align-self: flex-start;
  margin: 30px 0;
}

.navBar_logo {
  position: absolute;
  width: 200px;
  top: 3.5vh;
}

.active {
  display: inline-block;
  position: relative;
}

.inactive {
  display: none;
}

.banner_img {
  width: 100vw;
  height: 320px;
  margin-top: 30px;
}
.trending_container {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-between;
}
.trending_img {
  width: 100%;
  height: 200px;
}

.trending_box {
  width: calc(30% - 10px);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.main hr {
  border-top: 0.75px solid #9f9f9f;
  margin: 100px 0;
  width: 100%;
}

.detail_container hr {
  border-top: 0.75px solid #9f9f9f;
  margin: 0px 0 20px 0;
  width: 60%;
}

.spacer {
width: 100%;
height: 300px;
}


.all_events_title {
  display:flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.detail_container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: 'Raleway';
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.detail_content {
  margin-top: 380px;
}

.carouselImage {
  height:200px;
  width:360px;
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}

.carousel_Img {
  width: 100vw;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselTitle {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255,255, 0));
  padding:10px;
  margin: 0px 50px;
  position: absolute;
  top:55%;
  left:0;
  transform: translate(-20%, -50%);
  height:320px;
  color: #fff;
  width:30%;
  font-size: 32px;
  font-weight: 500;
}

.active {
  margin-top: 30px;
  position: relative;
  width: 100vw;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

